.difficulty-container {
  @extend %flex-center;
  flex-direction: column;
  height: 100vh;
}

.difficulty-title {
  font-family: $main-font;
  font-size: 3rem;
  margin: 50px 0 50px 0;
  color: #000000;
}

.difficulty-btns {
  margin-bottom: 25px;
}

.Easy {
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  font-size: 20px;
  @extend %index-btn;
  @extend %button-hover-art;
}

.Medium {
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  font-size: 20px;
  @extend %index-btn;
  @extend %button-hover-fashion;
}

.Hard {
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  font-size: 20px;
  @extend %index-btn;
  @extend %button-hover-music;
}

@media only screen and (max-width: 800px) {
  .difficulty-title {
    font-size: 2rem;
  }
}