.home-container {
  @extend %flex-center;
  flex-direction: column;
}

.home-title {
  font-family: $main-font;
  font-size: 5rem;
  margin-bottom: 20%;
  color: rgb(233, 0, 128);
  text-shadow: 0px 0px 0 rgb(230,3,151),
                1px 1px 0 rgb(205,-22,126),
                2px 2px 0 rgb(180,-47,101),
                3px 3px 0 rgb(155,-72,76),
                4px 4px 0 rgb(130,-97,51),
                5px 5px  0 rgb(105,-122,26),
                6px 6px 5px rgba(0,0,0,0),
                6px 6px 1px rgba(0,0,0,0.5),
                0px 0px 5px rgba(0,0,0,.2);
}


.start-btn {
  @extend %start-btn;
  font-family: $sub-font;
  font-size: 2rem;
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (max-width: 800px) {
  .home-title {
    font-size: 4rem;
    margin-bottom: 20%;
  }
}
@media only screen and (max-width: 650px) {
  .home-title {
    font-size: 3rem;
    margin-bottom: 20%;
  }
}