.home-container {
  @extend %flex-center;
  flex-direction: column;
}

.google-eye {
  width: 180px;
}


.home-title {
  font-family: $main-font;
  text-align: initial;
  font-size: 4rem;
  margin: 30px 0 50px 0;
  color: #000000;
  position: relative;
  animation: slide-up 1s ease-in-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.start-btn {
  @extend %start-btn;
  font-family: $sub-font;
  font-size: 1rem;
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (max-width: 800px) {
  .home-title {
    font-size: 4rem;
    margin-bottom: 20%;
  }
}
@media only screen and (max-width: 650px) {
  .home-title {
    font-size: 3rem;
    margin-bottom: 20%;
  }
}