.index-container {
  @extend %flex-center;
  flex-direction: column;
  height: 100vh;
}

.index-title {
  font-family: $main-font;
  font-size: 3rem;
  margin: 50px 0 50px 0;
  color: #000000;
}

.index-btns {
  margin-bottom: 25px;
}

.Art {
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  font-size: 20px;
  @extend %index-btn;
  @extend %button-hover-art;
}

.Fashion {
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  font-size: 20px;
  @extend %index-btn;
  @extend %button-hover-fashion;
}

.Music {
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  font-size: 20px;
  @extend %index-btn;
  @extend %button-hover-music;
}

@media only screen and (max-width: 800px) {
  .index-text {
    width: 70vw;
  }
  .index-title {
    font-size: 2rem;
  }
}
