$main-font: 'Gasoek One', sans-serif;
$sub-font: 'Poppins', sans-serif;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%bg-img-center {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

%text-box {
  text-align: center;
  background-color: #ffffff;
  padding: 30px 50px 100px 50px;
  width: 40vw;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.617);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}


%start-btn {
  background: transparent;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none;
  color: rgb(0, 0, 0);
  border-radius: 0px;
  z-index: 1;
  padding: 10px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s;
  font-size: 15px;
  &:hover{
    color: #000000;
    background-color: #b7ff00;
    border: 2px solid white;
    letter-spacing: 2px;
  }
}

%index-btn {
  background: transparent;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none;
  color: rgb(0, 0, 0);
  border-radius: 0px;
  z-index: 1;
  padding: 10px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s;
  font-size: 15px;
  &:hover{
    border: 2px solid white;
    letter-spacing: 2px;
  }
}

%button-hover-art{
  &:hover {
    font-size: 20px;
    color: #000000;
    background: #7bff00;
  }
}

%button-hover-fashion{
  &:hover {
    font-size: 20px;
    color: #000000;
    background: #ff97fa;
  }
}

%button-hover-music{
  &:hover {
    font-size: 20px;
    color: #000000;
    background: #48ddff;
  }
}

@media only screen and (max-width: 800px) {
  %index-btn {
    font-size: 2rem;
  }
  %start-btn {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 650px) {
  %index-btn {
    font-size: 1.2rem;
  }
  %start-btn {
    font-size: 1.3rem;
  }
}