$main-font: 'Bagel Fat One', cursive;
$sub-font: 'Geologica', sans-serif;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%bg-img-center {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

%start-btn {
  background: rgba(99, 99, 99, 0.539);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none;
  color: white;
  border-radius: 50px;
  z-index: 1;
  padding: 10px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  font-size: 30px;
  &:hover{
    border: 3px solid white;
    letter-spacing: 3px;
    font-size: 35px;
    color: #ffffff;
    background-color: rgb(254, 148, 166);
  }
}

%index-btn {
  background: rgba(99, 99, 99, 0.539);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none;
  color: white;
  border-radius: 50px;
  z-index: 1;
  padding: 10px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s;
  font-size: 30px;
  &:hover{
    border: 3px solid white;
    letter-spacing: 3px;
    font-size: 35px;
    color: #ffffff;
    background-color: rgb(254, 148, 166);
  }
}

%button-hover-art{
  &:hover {
    background: #84ccd1;
  }
}

%button-hover-fashion{
  &:hover {
    background: #da8fc0;
  }
}

%button-hover-music{
  &:hover {
  background: #d3e094;
  }
}

// %sub-title-shadow{
//   font-family: $main-font;
//   font-size: 3rem;
//   color: #e90080;
//   margin-bottom: 10%;
//   text-shadow: 0px 0px 0 rgb(207,-23,138),
//                 1px 1px 0 rgb(158,-72,89),
//                 2px 2px  0 rgb(110,-120,41),
//                 3px 3px 2px rgba(69,0,38,0),
//                 3px 3px 1px rgba(69,0,38,0.5),
//                 0px 0px 2px rgba(69,0,38,.2);
// }